.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px; /* space between items */
}

.grid--margin {
  padding: 16px;
}

.grid--margin-x {
  padding-left: 16px;
  padding-right: 16px;
}

.grid-item {
  width: 100%;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
}


@media (max-width: 14024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .grid--margin {
    padding: 0px;
  }

  .grid--margin-x {
    padding: 0px;
  }

  .no-padding-on-mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}



.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* fills square, crops if needed */
  display: block;
}
